/*
Coursera blue:#325CE6;
*/
body {
	color:black;
	background-image: url("wallpaper.jpg");
}
/* *** HEADER *** */
.navbar {
	background-color: white;
	padding: 30px 0 25px 0;
	margin-bottom: 80px;
	border-bottom: 1px solid;
	border-color: black;
}

.navbar-brand {
	font-weight: bold;
	color: black;
	text-transform: uppercase;;
}
	.navbar-brand:hover {
		color:#325CE6;
	}

.navbar-toggler {
	background-color: white;
	margin-right: 80px;
}
	.navbar-toggler:hover{
		color: #325CE6;
	}

#collapsable-nav {
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}

#nav-list a {
	color: black;
	text-decoration: none;
	margin-right: 20px;
}
	#nav-list a:hover {
		color: #325CE6;
	}

/* *** MAIN *** */

#module-box {
	background-color: white;
	padding: 20px 5px 0 5px;
	margin-top: 20px;
	margin-left: 25px;
	border:1px solid;
	border-color: black;
	border-radius: 7px;
	font-size: 1.15em;
	font-weight: bold;
	text-align: center;
}

	#module-box ul {
	padding-left: 0;
	margin-bottom: 50px;
	list-style: none;
}
	#module-box li {
	margin-bottom: 5px;
}
	#module-box a {
		text-decoration: none;
		color:black;
	}
		#module-box a:hover {
			color: #325CE6;
		}


#main-content {
	padding: 0 150px 0 150px;
	font-size: 1.2em;
	text-align: center;
}

#cafe-box {
	background-color: white;
	margin-top: 90px;
	border:1px solid;
	border-color: black;
	border-radius: 7px;
	font-size: 1.15em;
	font-weight: bold;
	text-align: center;
}
#cafe-box p {
	margin:20px 0 30px 0;
}

#cafeBtn div {
	color: white;
	background-color: grey;
	text-decoration: none;
	font-size: 1.1em;
	padding: 10px 20px 10px 20px;
	margin:5px 400px 10px 400px;
}


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

}