h1{
	margin-top:0;
	padding: 50px;
	text-align: center;
	font-size: 70px;
	color: red;
	background-color: #000011;
}

body{
	margin-top:0;
	margin-left:0;
	margin-right: 0;
	color: white;
	font-family: arial;
	font-style: italic;
	text-align: center;
	background-image: url("pNsH34.jpg");
}
p {
	font-size: 19px;
}
ul {
	font-size: 18px;
	font-weight: bold;
	list-style: none;
	background-color: white;
	padding:7px 20px 7px 20px;
	border-color: black;
	margin:50px 350px 50px 350px;
}

ul:hover {
	color:red;
	background-color:#000011;
};
ul:active {
	color:red;
	background-color: black;
}