/*
dark brwon: #2E1114;
maroon: #501B1D;
dark purple: #64485C;
light purple: #83677B;
grey: #ADADAD;
*/

body{
    color:#2E1114;
    background-color: #501B1D;
    font-family: 'Raleway', sans-serif;
}
#header-nav {
    background-color: #2E1114;
    padding-top: 20px;
    border: 0;
    border-bottom: 1px solid;
    border-color: #83677B;
    border-radius: 0;
}
.navbar-brand{
    padding-top:0px;
    padding-bottom: 70px;
}
    .navbar-brand h1 {
        color: #ADADAD;
        font-size: 2.4em;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #222;
        margin-top: 0;
        margin-left: 5px;
        line-height: 1.2;
    }
    .navbar-brand a:hover, .navbar-brand a:focus {
        text-decoration: none;
    }

#nav-list {
    font-size: 1.5em;
    list-style: none;
    margin-top: 10px;
}

    #nav-list a {
        text-align: center;
        text-decoration: none;
        color:#64485C;
    }

        #nav-list a:hover {
            color: #501B1D;
        }

        #nav-list a span {
            font-size: 1.8em;
        }
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #64485C;
}

.navbar-header button.navbar-toggle {
    clear: both;
}

#main-content {
    font-size:2em;
}
#main-content h2{
    color: #ADADAD;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
}
#chicken-tile, #beef-tile, #sushi-tile {
    position: relative;
    overflow: hidden;
    background-color: #ADADAD;
    border: 2px solid;
    border-color: #64485C;
    border-radius: 15px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right:15px;
}

h3{
    font-weight: bold;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    border-color: #64485C;
}


@media (max-width:767px){
    .navbar-toggle {
        margin-top:-15px;
        margin-bottom: 12px;
        padding: 11px;
    }


    #collapsable-nav{
        background-color: #ADADAD;
        border-bottom: 1px solid;
        border-top: 0;
        border-color: #64485C;
    }

    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }

        #collapsable-nav a span { /* Collapsed nav menu glyph */
            font-size: 1em;
            margin-right: 5px;
        }
#main-content {
    font-size:1.7em;
}
}